<%- include('../partials/header'); %>

    <main class="main main-home container">
        <h2 class="main-h2 text-center text-capitalize">Hi, this is Play Station </h2>
        <img src="https://tse2.mm.bing.net/th?id=OIP.BwUmPaJu-yOYRFKnys0mdAHaDt&pid=Api&P=0&w=800&h=800" alt="home image" class="img-fluid home-image">
    </main>

<%- include('../partials/footer'); %>